In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset = pd.read_excel('./RHTS_MODE_CHOICE/HH_Public.xlsx')
list = ['RECMode', 'RETMode', 'GTYPE', 'STYPE', 'ILANG', 'LTELE', 'HHLNG', 'O_HHLNG', 'DOW', 'HTRIPS', 'HTRIPS_GPS', 'HH_WHT2', 'GEO_GROUP1', 'GEO_GROUP3', 'HTRIPS_V', 'HTRIPS_T', 'HTRIPS_NM', 'HTRIPS_O', 'HTRIPS_WP', 'HTRIPS_NWP', 'HTRIPS_GPS_V', 'HTRIPS_GPS_T', 'HTRIPS_GPS_NM', 'HTRIPS_GPS_O', 'HTRIPS_GPS_WP', 'HTRIPS_GPS_NWP', 'CTFIP',
 'BIN',
 'HHVEH',
 'PARTIAL',
 'HH1',
 'HCITY',
 'HCITY_PL',
 'HCITY_MCD',
 'HSTATE',
 'HZIP',
 'HTAZ',
 'HTRACT',
 'HHSIZ_R',
 'HHSTRUC']
list

['RECMode',
 'RETMode',
 'GTYPE',
 'STYPE',
 'ILANG',
 'LTELE',
 'HHLNG',
 'O_HHLNG',
 'DOW',
 'HTRIPS',
 'HTRIPS_GPS',
 'HH_WHT2',
 'GEO_GROUP1',
 'GEO_GROUP3',
 'HTRIPS_V',
 'HTRIPS_T',
 'HTRIPS_NM',
 'HTRIPS_O',
 'HTRIPS_WP',
 'HTRIPS_NWP',
 'HTRIPS_GPS_V',
 'HTRIPS_GPS_T',
 'HTRIPS_GPS_NM',
 'HTRIPS_GPS_O',
 'HTRIPS_GPS_WP',
 'HTRIPS_GPS_NWP',
 'CTFIP',
 'BIN',
 'HHVEH',
 'PARTIAL',
 'HH1',
 'HCITY',
 'HCITY_PL',
 'HCITY_MCD',
 'HSTATE',
 'HZIP',
 'HTAZ',
 'HTRACT',
 'HHSIZ_R',
 'HHSTRUC']

In [3]:
clean_data = dataset.drop(list, axis=1)
clean_data

,SAMPN,RESTY,HHSIZ,INCOM,HHSTU,HHWRK,HHLIC,HHCHD,GEO_GROUP2,INCOM_R,HHVEH_R
0,3000056,1,6,5,4,4,4,2,4,3,3
1,3000128,1,5,4,3,3,3,2,3,2,2
2,3000139,1,2,99,0,0,2,0,5,9,2
3,3000146,1,1,5,0,1,1,0,5,3,1
4,3000157,2,1,1,0,0,0,0,5,1,0
5,3000239,1,2,99,0,0,2,0,3,9,1
6,3000250,2,1,3,0,0,1,0,2,2,1
7,3000275,1,2,4,0,0,2,0,2,2,1
8,3000296,2,1,1,0,0,0,0,1,1,0
9,3000403,2,1,2,0,0,1,0,1,1,0
10,3000407,1,2,6,0,2,2,0,6,4,2
11,3000448,1,3,7,0,3,3,0,5,4,3
12,3000451,1,4,3,3,0,1,3,2,2,1
13,3000486,2,2,7,0,1,2,0,3,4,2
14,3000490,2,1,3,0,0,0,0,1,2,0
15,3000498,1,2,3,0,0,2,0,1,2,0
16,3000552,1,2,4,0,0,2,0,5,2,2
17,3000568,1,4,4,2,1,2,2,4,2,2
18,3000598,2,1,2,0,0,0,0,5,1,0
19,3000614,1,3,5,1,3,3,0,5,3,3
20,3000616,2,1,4,0,1,1,0,1,2,1
21,3000636,1,3,7,0,3,3,0,5,4,3
22,3000678,1,2,3,1,0,1,0,5,2,1
23,3000686,2,1,1,0,0,0,0,1,1,0
24,3000688,1,2,6,0,2,2,0,5,4,2
25,3000696,1,1,3,0,1,1,0,4,2,1
26,3000711,2,1,2,0,0,0,0,5,1,0
27,3000716,1,2,4,0,0,2,0,5,2,2
28,3000727,1,3,4,2,1,1,2,5,2,1
29,3000749,1,2,7,0,1,2,0,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...
18935,4130173,1,4,99,0,4,4,0,2,9,3
18936,4130235,1,3,4,1,0,2,1,1,2,1
18937,4130300,2,1,6,0,1,1,0,1,4,1
18938,4130374,2,1,3,0,1,0,0,1,2,0
18939,4130390,2,1,3,0,1,1,0,1,2,0
18940,4130418,2,4,2,3,0,0,3,5,1,0
18941,4130471,2,2,4,1,1,2,0,5,2,2
18942,4130642,2,2,2,0,2,0,0,5,1,0
18943,4130934,2,2,2,0,0,2,0,1,1,2
18944,4131086,1,1,2,0,1,1,0,1,1,1
18945,4131433,1,4,3,1,2,1,2,4,2,1
18946,4131501,1,3,3,0,1,3,0,5,2,3
18947,4131559,2,4,3,2,1,2,2,5,2,1
18948,4131734,1,4,7,2,2,2,2,5,4,2
18949,4132128,2,1,2,0,0,0,0,3,1,0
18950,4132243,1,2,6,0,2,2,0,1,4,1
18951,4132250,1,4,3,0,1,2,2,5,2,2
18952,4132666,1,3,4,1,2,1,1,1,2,0
18953,4132719,2,2,1,0,0,0,0,1,1,0
18954,4132759,1,4,5,2,2,2,1,5,3,1
18955,4132997,1,4,5,2,2,2,1,3,3,2
18956,4133010,2,1,3,0,0,1,0,1,2,0
18957,4133049,2,2,4,0,2,1,0,1,2,0
18958,4133258,1,1,4,0,1,1,0,1,2,2
18959,4133384,1,3,1,2,0,1,1,1,1,0
18960,4133438,1,3,2,1,1,3,0,1,1,2
18961,4133500,2,4,3,1,1,1,1,1,2,1
18962,4133511,2,2,4,1,1,2,0,1,2,2
18963,4133672,1,3,5,1,2,3,0,3,3,3
18964,4133756,1,2,3,1,1,2,0,3,2,1

In [8]:
clean_data.to_csv('Household-V3.csv', sep=',')

In [9]:
plt.rc("font", size=14)
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [10]:
dataset3 = pd.read_csv('Household-V3.csv')
dataset3

,Unnamed: 0,SAMPN,RESTY,HHSIZ,INCOM,HHSTU,HHWRK,HHLIC,HHCHD,GEO_GROUP2,INCOM_R,HHVEH_R
0,0,3000056,1,6,5,4,4,4,2,4,3,3
1,1,3000128,1,5,4,3,3,3,2,3,2,2
2,2,3000139,1,2,99,0,0,2,0,5,9,2
3,3,3000146,1,1,5,0,1,1,0,5,3,1
4,4,3000157,2,1,1,0,0,0,0,5,1,0
5,5,3000239,1,2,99,0,0,2,0,3,9,1
6,6,3000250,2,1,3,0,0,1,0,2,2,1
7,7,3000275,1,2,4,0,0,2,0,2,2,1
8,8,3000296,2,1,1,0,0,0,0,1,1,0
9,9,3000403,2,1,2,0,0,1,0,1,1,0
10,10,3000407,1,2,6,0,2,2,0,6,4,2
11,11,3000448,1,3,7,0,3,3,0,5,4,3
12,12,3000451,1,4,3,3,0,1,3,2,2,1
13,13,3000486,2,2,7,0,1,2,0,3,4,2
14,14,3000490,2,1,3,0,0,0,0,1,2,0
15,15,3000498,1,2,3,0,0,2,0,1,2,0
16,16,3000552,1,2,4,0,0,2,0,5,2,2
17,17,3000568,1,4,4,2,1,2,2,4,2,2
18,18,3000598,2,1,2,0,0,0,0,5,1,0
19,19,3000614,1,3,5,1,3,3,0,5,3,3
20,20,3000616,2,1,4,0,1,1,0,1,2,1
21,21,3000636,1,3,7,0,3,3,0,5,4,3
22,22,3000678,1,2,3,1,0,1,0,5,2,1
23,23,3000686,2,1,1,0,0,0,0,1,1,0
24,24,3000688,1,2,6,0,2,2,0,5,4,2
25,25,3000696,1,1,3,0,1,1,0,4,2,1
26,26,3000711,2,1,2,0,0,0,0,5,1,0
27,27,3000716,1,2,4,0,0,2,0,5,2,2
28,28,3000727,1,3,4,2,1,1,2,5,2,1
29,29,3000749,1,2,7,0,1,2,0,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
18935,18935,4130173,1,4,99,0,4,4,0,2,9,3
18936,18936,4130235,1,3,4,1,0,2,1,1,2,1
18937,18937,4130300,2,1,6,0,1,1,0,1,4,1
18938,18938,4130374,2,1,3,0,1,0,0,1,2,0
18939,18939,4130390,2,1,3,0,1,1,0,1,2,0
18940,18940,4130418,2,4,2,3,0,0,3,5,1,0
18941,18941,4130471,2,2,4,1,1,2,0,5,2,2
18942,18942,4130642,2,2,2,0,2,0,0,5,1,0
18943,18943,4130934,2,2,2,0,0,2,0,1,1,2
18944,18944,4131086,1,1,2,0,1,1,0,1,1,1
18945,18945,4131433,1,4,3,1,2,1,2,4,2,1
18946,18946,4131501,1,3,3,0,1,3,0,5,2,3
18947,18947,4131559,2,4,3,2,1,2,2,5,2,1
18948,18948,4131734,1,4,7,2,2,2,2,5,4,2
18949,18949,4132128,2,1,2,0,0,0,0,3,1,0
18950,18950,4132243,1,2,6,0,2,2,0,1,4,1
18951,18951,4132250,1,4,3,0,1,2,2,5,2,2
18952,18952,4132666,1,3,4,1,2,1,1,1,2,0
18953,18953,4132719,2,2,1,0,0,0,0,1,1,0
18954,18954,4132759,1,4,5,2,2,2,1,5,3,1
18955,18955,4132997,1,4,5,2,2,2,1,3,3,2
18956,18956,4133010,2,1,3,0,0,1,0,1,2,0
18957,18957,4133049,2,2,4,0,2,1,0,1,2,0
18958,18958,4133258,1,1,4,0,1,1,0,1,2,2
18959,18959,4133384,1,3,1,2,0,1,1,1,1,0
18960,18960,4133438,1,3,2,1,1,3,0,1,1,2
18961,18961,4133500,2,4,3,1,1,1,1,1,2,1
18962,18962,4133511,2,2,4,1,1,2,0,1,2,2
18963,18963,4133672,1,3,5,1,2,3,0,3,3,3
18964,18964,4133756,1,2,3,1,1,2,0,3,2,1

In [12]:
dataset3 = dataset3
dataset3

ValueError: labels ['Unnamed: 0'] not contained in axis